/* ===== COLORES ===== */
$color-primary: #e51960; //color rosa
$color-secondary: #3f2d58; //color morado
$color-dark: #1E2020; //color negro
$color-light: #333;  //color blanco
$color-grey: #DDD1D1; //color gris

/* ===== MÁRGENES =====*/
$mg-10: 10px;
$mg-20: 20px;
$mg-100: 100px;

$black: #1E2020;
$montse: 'Montserrat', sans-serif;
